/*
  Name: Artem Zabarov
  File: styles.css
  Date: 3/31/2021
*/

/* CSS Reset */
body, header, nav, main, footer, img, h1, h3, ul, aside, section, article {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Style rules for mobile viewport */
.mobile, .mobile-tablet {
  display: block;
}

/* Style rules to  hide tab-desk class */
.tab-desk, .desktop, #menu-links {
  display: none;
}


/* Style rules for body and images */

body {
   background: linear-gradient(to right, #66ccff, #cceeff 80%);
}

img, video {
  display: block;
  max-width: 100%;
}

ul img {
  max-width: 70%;
}

#about ul {
  margin-left: 20px;
}

/* Style rules for navigation area */

nav {
  background-color: #33bbff;
}

.mobile-nav a {
    color: #fff;
    text-align: center;
    font-size: 2em;
    text-decoration: none;
    padding: 3%;
    display: block;
}
 
.mobile-nav a.menu-icon {
    display: block;
    position: absolute;
    right: 0; 
    top: 0;  
}
 
.menu-icon div {
    height: 50px;
    width: 50px;
    background-color: #66ccff;
}


/* Style rules for main content */
header h1 {
  text-align: center;
  font-family: 'DM Serif Display', serif;
}

main {
  padding: 2%;
  font-family: 'Roboto', sans-serif;
}

main p {
  font-size: 1.25em;
}

main h3 {
  padding-top: 2%;
}

main ul {
  list-style: square;
  font-size: 1.25em; 
}

.grid {
  display: grid;
  grid-template-columns: auto;
}

aside {
  grid-column: 1 / span 2;
  text-shadow: 4px 4px 10px #fff;
}

figure {
  max-width: 400px;
  margin: 2% auto;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  text-decoration: none; 
  box-shadow: 6px 6px 10px #000;
}


figcaption {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  text-align: center;
}


.email-link {
  background-color: #0099ff;
  padding: 2%;
  margin: 0 auto 20px auto;
  width: 80%;
  text-align: center;
  border-radius: 5px;
}

.email-link a {
  color: #000;
  text-decoration: none;
  font-size: 0.9em;
  display: block;
}

.tel-link {
    background-color: #0099ff;
    padding: 2%;
    margin: 0 auto 20px auto;
    width: 80%;
    text-align: center;
    border-radius: 5px;
}

.tel-link a {
    color: #000;
    text-decoration: none;
    font-size: 0.9em;
    display: block;
}

.post {
  float: right;
  margin-right: 10px;
}

#feed {
  width: 90%;
  padding-bottom: 100px;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

#rcorners2 {
  background-color: white;
  border-radius: 25px;
  border: 2px solid #0099ff;
  padding: 10px; 
  width: 90%;
  min-height: 150px;  
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding-bottom: 50px; 
}

.map {
  border: 5px solid #0099ff;
  width: 95%;
  height: 300px;
  margin: 30px auto 20px auto;
  display: block;
}
        
#about {
  text-align: left;
}

#members ul {
  margin: 0;
  text-align: center;
}

#members li{
  display: inline-block;
  margin-top: 30px;
}

#members li a {
  display: block;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  text-decoration: none;
}

#members img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 30px;
}

.round {
  border-radius: 6px;
}

/* Style rules for table */

table {
  border: 1px solid #0099ff;
  border-collapse: collapse;
  margin: 0 auto;
  width: 70%;
}

caption {
  font-size: 1.5em;
  font-weight: bold;
  padding: 1%;
}

th, td {
  border: 1px solid #0099ff;
  padding: 1%;
}

th {
  background-color: #0099ff;
  color: white;
  font-size: 1.15em;
}

table tr:nth-child(odd) {
  background-color: #33bbff;
}

/* Style rules for form */

form h2 {
  text-align: center;
}

fieldset, input, textarea {
  margin-bottom: 2%;
}

fieldset {
  border-color: #0099ff;
}

fieldset legend {
  font-weight: bold;
  font-size: 1.25em;
}

label {
  display: block;
  padding-top: 2%;
}

#buttons {
  width: 50%;
  margin: 0 auto;
}

form #submit, form #reset {
  margin: 0 auto;
  display: inline-block;
  padding: 2%;
  background-color: #0099ff;
  color: black;
  font-size: 1.25em;
  border-radius: 10px;
  border: none;
  width: 40%;
}

button {
  width: 10%;
  margin: 20px 45%;
  text-align: center;;
}

#rcorners2 p, #video1, #showLess1, #showLess2 {
  display: none;
}


/* Style rule for CSS transform property */

#about img:hover {
  transform: scale(1.2);
  margin: 50px;
}

/* Style rules for footer content */

footer {
  text-align: center;
  font-size: 1em;
  background-color: #0099ff;
  color: #f6eee4;
  padding-top: 1%;
  padding-bottom: 1%;
}

footer a {
  color: #f6eee4;
  text-decoration: none;
}



@media screen and (min-width: 620px), print {
  /* Tablet Viewport: Show tab-desk class, hide mobile class */

  .tab-desk, .desktop {
    display: block;
  }

  .mobile, #mobile-nav {
    display: none;
  }

  .menu-icon div {
    display: none;
  }

  /* Tablet Viewport: Style rules for nav area */

  nav li {
    border-top: none;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
  }

  nav li a {
    padding: 0.5em;
    display: block;
    color: #f6eee4;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
  }


  nav ul {
    list-style: none;
    text-align: center;
  }


  /* Tablet Viewport: Style rules for main content */
  .tel-link a {
    font-size: 1.1em;
  }

  .email-link a {
    font-size: 1.1em;
  }

  figure {
  max-width: 35%;
  }

  /* Tablet Viewport: Style rule for form element */

  form {
    width: 70%;
    margin: 0 auto;
  }

}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1000px), print {
  
  /* Desktop Viewport: Style rules for nav area */

  nav li {
    font-size: 1.5em;
  }

  nav li a {
    padding: 0.5em 1.5em;
  }

  nav li a:hover {
    color: #0099ff;
    background-color: #f6eee4;
    opacity: 0.5;
  }

  /* Desktop Viewport: Style rules for main content */
  
  .tel-link a {
    font-size: 1.2em;
  }

  .email-link a {
    font-size: 1.2em;
  }

    #feed {
    width: 70%;
  }

  .grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
  }

    /* Desktop Viewport: Style rules for form elements */

  form {
    width: auto;
  }

  .form-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
  }

  #buttons {
    grid-column: 1 / span 2;
    text-align: center;
  }

}

/* Media Query for Large Desktop Viewports */
@media screen and (min-width: 1921px), print {
 
}
