/*
  Name: Artem Zabarov
  File: styles.css
  Date: 3/31/2021
*/

/* CSS Reset */
body, header, nav, main, footer, img, h1, h3, ul {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Style rules for mobile viewport */

.mobile {
  display: block;
}

/* Style rules to  hide tab-desk class */
.tab-desk {
  display: none;
}


/* Style rules for body and images */

body {
  background-color: #66ccff;
}

img {
  display: block;
  max-width: 100%;
}

ul img {
  max-width: 70%;
}

/* Style rules for navigation area */

nav {
  background-color: #0099ff;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav li{
  display: block;
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  border-top: 1px solid #e5e9fc;
}

nav li a {
  display: block;
  color: #f6eee4;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}


/* Style rules for main content */
header h1 {
  text-align: center;
  font-family: 'DM Serif Display', serif;
}

main {
  padding: 2%;
  font-family: 'Roboto', sans-serif;
}

main p {
  font-size: 1.25em;
}

main h3 {
  padding-top: 2%;
}

main ul {
  list-style: square;
  font-size: 1.25em; 
}


.email-link {
  background-color: #0099ff;
  padding: 2%;
  margin: 0 auto 20px auto;
  width: 80%;
  text-align: center;
  border-radius: 5px;
}

.email-link a {
  color: #000;
  text-decoration: none;
  font-size: 1.2em;
  display: block;
}

.tel-link {
    background-color: #0099ff;
    padding: 2%;
    margin: 0 auto 20px auto;
    width: 80%;
    text-align: center;
    border-radius: 5px;
}

.tel-link a {
    color: #000;
    text-decoration: none;
    font-size: 1.2em;
    display: block;
}

.map {
  border: 5px solid #0099ff;
  width: 95%;
  height: 300px;
  margin: 30px auto 20px auto;
  display: block;
}
        
#about {
  text-align: left;
}

#members ul {
  margin: 0;
  text-align: center;
}

#members li{
  display: inline-block;
  margin-top: 30px;
}

#members li a {
  display: block;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  text-decoration: none;
}

#members img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 30px;
}

.round {
  border-radius: 6px;
}
/* Style rules for footer content */

footer {
  text-align: center;
  font-size: 1em;
  background-color: #0099ff;
  color: #f6eee4;
  padding-top: 1%;
  padding-bottom: 1%;
}

footer a {
  color: #f6eee4;
  text-decoration: none;
}

@media screen and (min-width:300px), print {

/* Mobile Viewport: Style rules for main content */
  .tel-link a {
    font-size: 0.9em;
  }

  .email-link a {
    font-size: 0.9em;
  }

  body {
    background: linear-gradient(to right, #66ccff, #cceeff 80%);
  }

  ul {
    margin-left: 30px;
  }

}

@media screen and (min-width: 620px), print {
  /* Tablet Viewport: Show tab-desk class, hide mobile class */

  .tab-desk {
    display: block;
  }

  .mobile {
    display: none;
  }

  /* Tablet Viewport: Style rules for nav area */

  nav li {
    border-top: none;
    display: inline-block;
    font-size: 1.25em;
  }

  nav li a {
    padding: 0.5em;
  }

  /* Tablet Viewport: Style rules for main content */
  .tel-link a {
    font-size: 1.1em;
  }

  .email-link a {
    font-size: 1.1em;
  }

  ul img {
  max-width: 35%;
  }

}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1000px), print {
  
  /* Desktop Viewport: Style rules for nav area */

  nav li {
    font-size: 1.5em;
  }

  nav li a {
    padding: 0.5em 1.5em;
  }

  nav li a:hover {
    color: #0099ff;
    background-color: #f6eee4;
  }

  /* Desktop Viewport: Style rules for main content */
  
  .tel-link a {
    font-size: 1.2em;
  }

  .email-link a {
    font-size: 1.2em;
  }

  .column {
  float: left;
  margin-left: ;
  }

  .right {
    width: 30%;
  }

  .left {
    width: 70%;
  }

}

/* Media Query for Large Desktop Viewports */
@media screen and (min-width: 1921px), print {
 
}
